<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CarouselView.FormsPlugin" version="5.2.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="xamarinmac20" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="xamarinmac20" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinmac20" />
  <package id="Xamarin.Controls.SignaturePad.Forms" version="3.0.0" targetFramework="xamarinmac20" />
  <package id="Xamarin.FFImageLoading" version="2.4.4.859" targetFramework="xamarinmac20" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.4.859" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="3.4.0.1029999" targetFramework="xamarinmac20" />
</packages>